#briefcase{
    position:absolute;
    left:120px;
    bottom:120px;
    width:90px;
    height:70px;

    opacity:0;
    transform:scale(0);

    transition:opacity .6s ease, transform .6s ease;
}

#briefcase.show{
    opacity:1;
    transform:scale(1);
}

.briefcase-body{
    width:100%;
    height:100%;
    background:#1f2937;
    border-radius:10px;
}

.briefcase-handle{
    position:absolute;
    width:34px;
    height:10px;
    border:4px solid #1f2937;
    border-bottom:none;
    border-radius:10px 10px 0 0;
    left:50%;
    top:-12px;
    transform:translateX(-50%);
}