#character{

    position:absolute;

    left:-240px;

    bottom:70px;

    width:220px;

    height:220px;

    z-index:20;

}

.character-body{

    width:100%;

    height:100%;

}

.character-shadow{

    position:absolute;

    bottom:-10px;

    width:110px;

    height:18px;

    border-radius:50%;

    background:rgba(0,0,0,.08);

    filter:blur(6px);

}