#register-container{

    position:absolute;

    left:50%;

    top:50%;

    transform:translate(-50%,-50%);

}

.register-card{

    width:340px;

    background:#fff;

    border-radius:16px;

    padding:24px;

    box-shadow:0 20px 50px rgba(0,0,0,.08);

}

.register-card h2{

    margin-bottom:20px;

}

.register-card input{

    width:100%;

    margin-bottom:12px;

    padding:14px;

    border:1px solid #ddd;

    border-radius:10px;

}

.register-card button{

    width:100%;

    padding:14px;

    border:none;

    border-radius:10px;

    background:#111827;

    color:white;

    cursor:pointer;

}